.googlewidget {
    height: 250px;
    width: 476px;

    background-color: rgb(53, 54, 58);
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.inputcontainer {
    margin-right: 35px;
    margin-left: 35px;
    height: 40px;
    width: 450px;
    background-color: rgb(32, 33, 36);
    border-radius: 10px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.inputfield {
    margin-left: 5px;
    height: 30px;
    width: 440px;
    border-radius: 10px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: white;
    user-select: auto;
    -webkit-user-select: auto;
}

.inputfield::placeholder {
    color: lightgray;
    opacity: 1;
}

.buttonsdiv_google {
    width: 450px;
    height: auto;
    margin-right: 35px;
    margin-left: 35px;
}

.google_btn {
    width: 144px;
    height: 40px;
    margin: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;

    background-color: rgb(32, 33, 36);
    border: none;
    border-radius: 10px 10px;
    color: lightgray;

    transition-duration: 250ms;
}

.google_btn:hover {
    background-color: rgb(42, 43, 46);
    color: white;
    cursor: pointer;
}

.wid_google_close {
    height: 14px;
    width: 14px;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-left: 451px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
}