.keinanzeigenwidget {
    height: auto;
    width: 420px;

    background-color: rgb(244, 244, 244);
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inputcontainerKA {
    height: 40px;
    width: 404px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.inputfieldKA {
    margin-left: 5px;
    height: 30px;
    width: 394px;
    border-radius: 10px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: black;
    user-select: auto;
    -webkit-user-select: auto;
}

.inputfieldKA::placeholder {
    color: black;
    opacity: 1;
}

.wid_ka_close {
    height: 14px;
    width: 14px;
    margin: 8px;
    margin-left: 76px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
    user-select: none;
}

.inputcontainerbanner {
    height: 65px;
    width: 100%;

    background-color: rgb(134, 184, 23);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.widbutKA {
    height: 40px;
    width: 107px;
    margin-right: 8px;

    border: none;
    border-radius: 8px 8px;
    background-color: rgb(0, 100, 210);
    color: white;
    font-size: 15px;

    transition-duration: 200ms;
    user-select: none;
}

.widbutKA:hover {
    background-color: rgb(0, 80, 167);
    cursor: pointer;
}

button.widbutKAright {
    margin-right: 0px;
    width: 170px;
}

.ka_logo_btn_div {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ka_logo_wid {
    height: 14px;
    width: auto;
    margin-top: 8px;
    margin-left: 8px;
}

.ka_logo_text {
    font-size: 14px;
    margin-top: 7px;
    width: 300px;

    color: rgb(77, 77, 77);
}