.mailwidget {
    height: auto;
    width: 420px;

    background-color: rgb(53, 54, 58);
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inputcontainerGM {
    height: 40px;
    width: 404px;
    margin: 8px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(32, 33, 36);
    border-radius: 10px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.inputfieldGM {
    margin: 5px;
    height: 30px;
    width: calc(100% - 50px);
    border-radius: 10px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: white;
    user-select: auto;
    -webkit-user-select: auto;
}

.inputfieldGM::placeholder {
    color: lightgray;
    opacity: 1;
}

.wid_gm_close {
    height: 14px;
    width: 14px;
    margin: 8px;
    margin-left: 171px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
    user-select: none;
}

.widbutGM {
    height: 40px;
    width: 105px;
    margin-right: 8px;
    padding: 0;

    border: none;
    border-radius: 8px 8px;
    background-color: rgb(32, 33, 36);
    color: lightgray;
    font-size: 15px;

    transition-duration: 200ms;
    user-select: none;
}

.widbutGM:hover {
    background-color: rgb(47, 48, 53);
    cursor: pointer;
    color: white;
}

button.widbutGMright {
    margin-right: 0px;
    width: 170px;
}

.gm_logo_btn_div {
    margin: 8px;
}

.gm_logo_wid {
    height: 14px;
    width: auto;
    margin-top: 8px;
    margin-left: 8px;
}

.gm_logo_text {
    font-size: 14px;
    margin-top: 7px;
    width: 200px;
    color: white;
}

.plus_gm {
    height: 100%;
    width: 40px;
    color: lightgray;
    font-size: 25px;
    background-color: rgb(21, 22, 24);
    border-top-right-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.plus_gm {
    cursor: pointer;
}