.ebaywidget {
    height: auto;
    width: 420px;

    background-color: white;
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;
    border: gray 1px solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inputcontainerEB {
    height: 40px;
    width: 404px;
    margin: 8px;
    margin-top: 0;
    background-color: rgb(252, 252, 252);
    border-radius: 10px 10px;
    border: solid 2px rgb(73, 73, 71);

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.inputfieldEB {
    margin-left: 5px;
    height: 30px;
    width: calc(100% - 10px);
    border-radius: 10px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: black;
    user-select: auto;
    -webkit-user-select: auto;
}

.inputfieldEB::placeholder {
    color: rgb(118, 118, 118);
    opacity: 1;
}

.wid_eb_close {
    height: 14px;
    width: 14px;
    margin: 8px;
    margin-left: 153px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
    user-select: none;
}

.widbutEB {
    height: 40px;
    width: 108px;
    margin: 0;
    padding: 0;
    margin-right: 8px;

    border: none;
    border-radius: 8px 8px;
    background-color: rgb(54, 101, 243);
    color: white;
    font-size: 15px;

    transition-duration: 200ms;
    user-select: none;
}

.widbutEB:hover {
    background-color: rgb(48, 90, 216);
    cursor: pointer;
}

button.widbutEBright {
    margin-right: 0px;
    width: 170px;
}

.eb_logo_btn_div {
    margin: 8px;
    margin-top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.eb_logo_wid {
    height: 14px;
    width: auto;
    margin-top: 7px;
    margin-left: 8px;
}

.eb_logo_text {
    font-size: 14px;
    margin-top: 5px;
    width: 200px;

    color: black;
}