.editorwidget {
    height: auto;
    width: 550px;

    background-color: rgb(26, 34, 36);
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

.wid_editor_p {
    margin: 0;
    height: 25px;
    width: 531px;

    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.wid_editor_close {
    height: 14px;
    width: 14px;
    margin-right: 5px;
    margin-top: 5px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
}

.editor_input {
    background-color: rgb(39, 39, 39);
    border: none;

    width: 550px;
    height: 300px;

    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;

    padding: 8px;
    cursor: text;

    color: white;

    resize: none;
    overflow-y: hidden;

    font-family: Consolas, monaco, monospace;

    user-select: auto;
    -webkit-user-select: auto;
}

.editor_input:focus {
    border: none;
    outline: none;
}