.twitchwidget {
    height: auto;
    width: 420px;

    background-color: rgb(24, 24, 27);
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inputcontainerTW {
    margin: 8px;
    margin-top: 0;
    height: 40px;
    width: 404px;
    background-color: rgb(70, 70, 73);
    border-radius: 10px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.inputfieldTW {
    margin-left: 5px;
    height: 30px;
    width: 440px;
    border-radius: 10px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: white;
    user-select: auto;
    -webkit-user-select: auto;
}

.inputfieldTW::placeholder {
    color: lightgray;
    opacity: 1;
}

.wid_twitch_close {
    height: 14px;
    width: 14px;
    margin: 8px;
    margin-left: 175px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
    user-select: none;
}

.twitch_logo_wid {
    height: 17px;
    margin-top: 8px;
    margin-left: 8px;
}

.tw_logo_btn_div {
    height: auto;
    width: 404px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    user-select: none;
}

.widbutTW {
    height: 40px;
    width: 109px;
    margin-right: 8px;

    border: none;
    border-radius: 8px 8px;
    background-color: rgb(145, 71, 255);
    color: white;
    font-size: 15px;

    transition-duration: 200ms;
    user-select: none;
}

.widbutTW:hover {
    background-color: rgb(91, 46, 117);
    cursor: pointer;
}

button.widbutTWright {
    margin-right: 0px;
    width: 170px;
}

.twitch_logo_text {
    font-size: 14px;
    margin-top: 7px;
    width: 200px;
}