.youtubewidget {
    height: auto;
    width: 420px;

    background-color: rgb(32, 32, 32);
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inputcontainerYT {
    margin: 10px;
    height: 40px;
    width: 400px;
    background-color: rgb(61, 61, 61);
    border-radius: 10px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.inputfieldYT {
    margin-left: 5px;
    height: 30px;
    width: 440px;
    border-radius: 10px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: white;
    user-select: auto;
    -webkit-user-select: auto;
}

.inputfieldYT::placeholder {
    color: lightgray;
    opacity: 1;
}

.youtube_logo_wid {
    height: 30px;
    width: auto;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
}

.yt_logo_btn_div {
    height: auto;
    width: 400px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    user-select: none;
}

.widbutYT {
    height: 40px;
    width: 82.5px;
    margin-right: 8px;

    border: none;
    border-radius: 8px 8px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;

    transition-duration: 200ms;
    user-select: none;
}

.wid_youtube_close {
    height: 14px;
    width: 14px;
    margin: 8px;
    margin-bottom: 0;
    margin-left: 398px;

    background-color: rgb(255, 96, 90);
    border: rgb(255, 96, 90);
    border-radius: 100% 100%;
    color: rgb(231, 184, 184);
    user-select: none;
}

.widbutYT:hover {
    background-color: rgb(83, 52, 52);
    cursor: pointer;
}

button.widbutYTright {
    margin-right: 0px;
}